<header>
    <section class="container">
      <div class="row">
        <div class="col text-center">
          <a id="logo" class="m-3 d-block" [routerLink]="['/']">
            <img id="logo-img" src="../../assets/images/logo.png" />
          </a>
        </div>
      </div>
    </section>
</header>
<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-4">
                <p>بزودی بر می گردیم</p>
                <p>در حال بروزرسانی سایت هستیم...</p>
            </div>
            <div class="col-12 col-lg-6"><img src="../../assets/images/under-construction.png"></div>
        </div>
    </div>
</main>
<footer>
    <div class="copyrights">
        <div class="container">
            <p>کلیه حقوق این وب‌سایت به شرکت گلدیران تعلق دارد.</p>
        </div>
    </div>
</footer>
