@import "../../global/styles.scss";

header {
  #header-top {
    height: 90px;
    padding: 13px 0;
    background: #f6f6f6;
    position: relative;
    z-index: 200;

    @media (max-width: $max-bp-medium) {
      height: 77.02px;
    }

    @media (max-width: $max-bp-small) {
      height: 68px;
    }

    .logo {
      display: inline-block;
      img {
        width: 190.48px;
        height: 64px;

        @media (max-width: $max-bp-medium) {
          width: 150px;
          height: 51.02px;
        }

        @media (max-width: $max-bp-small) {
          width: 76px;
          height: 25.53px;
          margin: 8.24px 0;
        }
      }
    }

    #header-actions {
      .cart-link {
        margin-right: 19.2px;
        position: relative;
        padding: 8px;
        background-color: #ffffff;
        border-radius: 3px;
        overflow: unset;
        height: 42px;
        float: left;

        @media (max-width: $max-bp-small) {
          margin-right: 9.6px;
        }

        svg {
          width: 24px;
          height: 24px;
        }

        .cart-quantity {
          position: absolute;
          border-radius: 50%;
          background-color: #2dc08d;
          color: #ffffff;
          width: 20px;
          height: 20px;
          top: -11px;
          right: -11px;
          line-height: 22px;
          font-size: 11px;
          text-align: center;
        }
      }

      .user-login-btn {
        padding: 8px 20px 8px 20px;
        background-color: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        font-size: 16px;
        line-height: 25px;
        height: 42px;
        float: left;
        color: #666;
        text-decoration: none;
        @media (max-width: $max-bp-large) {
          font-size: 14px;
        }
        @media (max-width: $max-bp-small) {
          padding: 6.3px 15px 6.3px 15px;
        }
      }

      #user-menu {
        float: left;

        #userDropdownMenuButton {
          display: block;
          padding: 0;
          background-color: transparent;
          box-shadow: none;
          height: 42px;
          text-decoration: none;
          cursor: pointer;
          color: #000;

          &::after {
            display: none;
          }

          img {
            width: auto;
            max-width: 40px;
            height: 40px;
            box-shadow: 0 0 8px #cccccc;

            @media (max-width: $max-bp-small) {
              margin-left: 13px;
            }
          }

          .user-name {
            margin: 0 13px;

            @media (max-width: $max-bp-small) {
              display: none;
            }

            .user-type {
              font-size: 12px;
              color: #b11515;
            }
          }
        }

        .dropdown-menu {
          width: 100%;
          border: 0px;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
          margin-top: 7px !important;
          border-radius: 3px !important;
          padding: 0 !important;
          font-size: 13px;
          text-align: right;
          overflow: hidden;
          position: absolute;
          will-change: transform;
          top: 0px;
          left: 0px;
          transform: translate3d(0px, 42px, 0px);

          > div {
            padding: 7px 0;
          }

          a {
            color: #809eb0;
            display: block;
            line-height: 19.5px;
            cursor: pointer;
            overflow: hidden;

            span {
              word-break: break-word;
              white-space: break-spaces;
            }

            fa-icon {
              padding: 0 0.5rem;
            }
          }
        }
      }
    }
  }

  &#header-checkout {
    border-bottom: 1px solid #d9e4ea;

    img {
      height: 50px;
    }
  }
}
