.user-roles {
  padding: 25px;
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 25px;
  }

  .role-list {
    .role-item {
      padding: 10px;
      cursor: pointer;
      &:hover {
        color: #333;
        background: #f3f3f3;
      }
    }
  }
}
