<div class="row">
  <div class="col-12">
    <div class="box-white">
      <form [ngClass]="{'lock': isSubmitted}" [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-12 col-md-6" [ngClass]="{ error: global.hasError(currentPassword) }">
            <em *ngIf="global.hasError(currentPassword)">
              <span *ngIf="currentPassword.errors.required">
                فیلد اجباری
              </span>
              <span *ngIf="currentPassword.errors.minlength">
                طول رشته باید حداقل {{currentPassword.errors.minlength.requiredLength}} کاراکتر باشد.
              </span>
            </em>
            <label for="currentPassword">رمز عبور فعلی</label>
            <input id="currentPassword" type="password" formControlName="currentPassword" class="form-control ltr" required />
          </div>
        </div>
        <app-password-confirmation formControlName="newPasswordFields"></app-password-confirmation>
        <div class="text-center">
          <button type="submit" [disabled]="passwordUpdateForm.invalid || isSubmitted" class="btn btn-primary btn-lg">
            ویرایش
            <app-loading-inline type="inline" [isLoading]="isSubmitted"></app-loading-inline>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
