<div class="row">
    <div class="col-12">
      <div class="box-white fa-num">
        <h5 class="mt-3">
          فروش سازمانی
        </h5>
        <hr />
        <p>
            با توجه به نیاز ادارات و سازمان‌ها برای خرید لوازم مورد نیاز خود با قیمت و شرایط رقابتی، شرکت گلدیران واحد فروش سازمانی خود را راه‌اندازی نموده و در حال ارائه سرویس به سازمان‌ها و کسب‌و‌کارهای بزرگ است تا بتوانند لوازم خانگی، تجهیزات صوتی و تصویری و سیستم‌های 
            سرمایشی مورد نیاز خود را سریع‌تر و به صورت دست اول از شرکت تولید کننده تهیه کرده و از مزایای این سیستم برخوردار گردند. لیست زیر شامل مزایایی است که واحد فروش سازمانی شرکت گلدیران ارائه می‌کند.
            <br/>
            جهت دریافت اطلاعات بیشتر با تلفن 84738-021 تماس حاصل فرمایید.
        </p>
        <figure class="fig-bann">
            <img class="img-fluid" src="/assets/images/organizational-sale/foroush-sazmani.jpg" alt="organizatinal-sale">
        </figure>
        <div class="row benefits">
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item1.png" >
                <figcaption>قیمت کاملا رقابتی</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item2.png" >
                <figcaption>صدور فاکتور رسمی بلافاصله پس از تحویل کالا به صورت اتوماتیک</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item3.png" >
                <figcaption>ارسال رایگان و ویژه با خودروهای استاندارد شرکت لجستیک گلدیران</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item4.png" >
                <figcaption>تنوع محصول و تعدادی و تامین به سرعت کالاهای مورد نیاز</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item5.png" >
                <figcaption>امکان استفاده از سرویس تمدید گارانتی برای جلوگیری از تحمیل هزینه‌های تعمیر ونگهداری در آینده</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item6.png" >
                <figcaption>نصب و راه‌اندازی استاندارد و رایگان توسط تکنسین‌های متخصص شرکت خدمات گلدیران</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item7.png" >
                <figcaption>خرید مستقیم از شرکت تولید کننده بدون واسطه</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item8.png" >
                <figcaption>ارائه پیش فاکتور رسمی و رزرو کالا برای طی مراحل اداری خرید</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item9.png" >
                <figcaption>مشاوره تخصصی فروش و اطلاعات فنی دستگاه و نیازسنجی</figcaption>
            </figure>
            <figure class="col-12 col-sm-6 col-lg-4">
                <img class="img-fluid" src="/assets/images/organizational-sale/item10.png" >
                <figcaption>ارائه پیشنهادهای فروش ویژه مخصوص پرسنل و کارمندان و سازمان‌های بزرگ</figcaption>
            </figure>
        </div>
      </div>
    </div>
</div>
