$primaryColor: #d7172f;
$secondaryColor: #17a2b8;
$min-bp-small: 576px;
$min-bp-medium: 768px;
$min-bp-large: 992px;
$min-bp-x-large: 1200px;
$min-bp-xx-large: 1300px;
$max-bp-small: 575px;
$max-bp-medium: 767px;
$max-bp-large: 991px;
$max-bp-x-large: 1199px;
$max-bp-xx-large: 1299px;
