<form [ngClass]="{'lock': isSubmitted}" [formGroup]="forgetPasswordByCodeForm" (ngSubmit)="onSubmit()"
  autocomplete="off">
  <div class="form-row">
    <div class="form-group col-12" [ngClass]="{ error: global.hasError(nationalCodeOrNationalId) }">
      <em *ngIf="global.hasError(nationalCodeOrNationalId)">
        <span *ngIf="nationalCodeOrNationalId.errors.required">
          فیلد اجباری
        </span>
        <span *ngIf="nationalCodeOrNationalId.errors.minlength">
          حداقل طول رشته باید برابر با {{nationalCodeOrNationalId.errors.minlength.requiredLength}} رقم باشد.
        </span>
      </em>
      <label for="nationalCodeOrNationalId">کد/ شناسه ملی</label>
      <input id="nationalCodeOrNationalId" type="Text" formControlName="nationalCodeOrNationalId"
        class="form-control ltr" appConvertNumbersToEnglish [patterns]="global.customPatterns" mask="00000000009" required />
    </div>
    <div class="form-group col-12" [ngClass]="{ error: global.hasError(DNTCaptchaInputText) }">
      <em *ngIf="global.hasError(DNTCaptchaInputText)">
        <span *ngIf="DNTCaptchaInputText.errors.required">
          فیلد اجباری
        </span>
      </em>
      <input type="hidden" id="DNTCaptchaInputText" formControlName="DNTCaptchaInputText" required />
      <app-captcha creatorPath="User/GetCaptchaConfiguration" (captchaSetValue)="captchaSetValue($event)"
        (captchaChangeValidators)="captchaChangeValidators($event)"></app-captcha>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" [disabled]="forgetPasswordByCodeForm.invalid || isSubmitted" class="btn btn-primary btn-lg">
      ثبت
      <app-loading-inline type="inline" [isLoading]="isSubmitted"></app-loading-inline>
    </button>
  </div>
</form>
