<ng-container [formGroup]="passwordConfirmationForm">
  <div class="form-row">
    <div class="form-group col-12"
      [ngClass]="{ error: global.hasError(password), 'col-md-6': direction === 'horizontal', 'col-md-12': direction === 'vertical' }">
      <em *ngIf="global.hasError(password)">
        <span *ngIf="password.errors.required">
          فیلد اجباری
        </span>
        <span *ngIf="password.errors.minlength">
          طول رشته باید حداقل {{password.errors.minlength.requiredLength}} کاراکتر باشد.
        </span>
        <span *ngIf="password.errors.password">
          رشته نامعتبر
        </span>
      </em>
      <label for="password">رمز عبور</label>
      <input id="password" type="password" formControlName="password" class="form-control ltr"
        appMaskError="لطفا زبان کیبورد خود را به انگلیسی تغییر دهید."
        autocomplete="new-password" [patterns]="global.customPatterns" mask="PPPPP*" [specialCharacters]="[]" required />
    </div>
    <div class="form-group col-12"
      [ngClass]="{ error: global.hasError(confirmPassword), 'col-md-6': direction === 'horizontal', 'col-md-12': direction === 'vertical' }">
      <em *ngIf="global.hasError(confirmPassword)">
        <span *ngIf="confirmPassword.errors.required">
          فیلد اجباری
        </span>
      </em>
      <em *ngIf="global.hasError(confirmPassword)">
        <span *ngIf="confirmPassword.errors.mustMatch">
          رمز عبور و تکرار رمز عبور باید یکسان باشند.
        </span>
      </em>
      <label for="confirmPassword">تکرار رمز عبور</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control ltr"
        autocomplete="new-password" required />
    </div>
  </div>
</ng-container>
