<div type="button" class="close" aria-label="Close" *ngIf="editBySeller" (click)="activeModal.dismiss()">
  <span aria-hidden="true">&times;</span>
</div>
<div class="row">
  <div class="col-12">
    <div class="box-white">
      <form [ngClass]="{'lock': isSubmitted}" *ngIf="personalInfo" [formGroup]="realPersonalInfoUpdateForm"
        (ngSubmit)="onSubmit()">
        <app-real-user formControlName="realUserFields" [editable]="isConsumer"></app-real-user>
        <div class="text-center">
          <button type="submit" [disabled]="realPersonalInfoUpdateForm.invalid || isSubmitted || !isConsumer"
            class="btn btn-primary btn-lg">
            ویرایش
            <app-loading-inline type="inline" [isLoading]="isSubmitted"></app-loading-inline>
          </button>
        </div>
      </form>
      <app-loading-inline [isLoading]="showLoading"></app-loading-inline>
    </div>
  </div>
</div>
