<div class="modal-header">
    <h5 class="modal-title">تکمیل سفارش کالا کارت</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>در صورت دریافت کالا کارت بانک مهر، گزینه "کالا کارت دارم" را انتخاب فرمایید. در غیر اینصورت
        گزینه "هنوز کالا کارت ندارم" را انتخاب نموده و با انتخاب گزینه "تایید پرداخت و اتمام سفارش"
        رسید سفارش خود را دریافت فرمایید.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')">هنوز کالا کارت ندارم</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="onConfirmation()" [disabled]="isConfirmed">کالا کارت دارم</button>
</div>
