<div class="row">
  <div class="col-12">
    <div class="box-white">
      <form [ngClass]="{'lock': isSubmitted}" *ngIf="!showLoading" [formGroup]="usernameUpdateForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <app-username [formGroup]="usernameUpdateForm" class="col-12 col-md-7 col-lg-7 col-xl-6"></app-username>
          <div class="form-group col-12 col-md-5 col-lg-5 col-xl-6">
            <div class="h-100 d-flex justify-content-center justify-content-md-start">
              <button type="submit" [disabled]="usernameUpdateForm.invalid || isSubmitted"
                class="btn btn-primary btn-lg mt-auto">
                ویرایش
                <app-loading-inline type="inline" [isLoading]="isSubmitted"></app-loading-inline>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showHint">
          <small class="form-text text-muted">نام کاربری شما از نوع شماره موبایل است و باید به نام کاربری معتبر تغییر یابد.</small>
        </div>
      </form>
      <app-loading-inline [isLoading]="showLoading"></app-loading-inline>
    </div>
  </div>
</div>
