:host {
    margin: 2rem 1rem 1rem 1rem;
    display: block;
}

button.openModal {
    width: 100%;
}

button.save {
    min-width: 100px;
}

.grey {
    color: #9b9b9b;
}

.comment {
    font-size: 13px;
    line-height: 2;
    color: #004085;
}